.pagination-outer{
    color: black !important;
    text-align: center }
.pagination{
    display: inline-flex ;
    position: relative ;
}
.pagination li a.page-link{
    color: black ;
    background-color: transparent;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: white;
    background-color: rgb(189, 4, 98);
    border-color:rgb(189, 4, 98);
}
.pagination li:first-child a.page-link:hover,
.pagination li:last-child a.page-link:hover{
    box-shadow: 0 0 10px black;
}
.pagination li a.page-link:before{
    content: attr(data-hover);
    color: black;
    font-size: 80px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.pagination li a.page-link:hover:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    top: 10px;
}
html, body {
    width: 100%;
    height: 100%;
}

#banner {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
}
.section-title{
  /* color :rgb(237, 184, 60); */
  color:white;
  font-weight:bold;
}
@media (max-width: 575px){
    #banner{
        background-attachment: scroll;
    }
}

#banner-fg {
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.clickButton{
  color:white;
  background-color: rgb(189, 4, 98);
}
.banner-text {
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);
    color: #fff;
}

#banner-fg a:active {
    color: white;
}

.clickButton a:hover{
  color: red;
}

.title-first{
    font-weight: bold;
    font-size: 7rem;
}

.logo-first {
    color: rgb(189, 4, 98);
    font-weight: bold;
}

.logo-last {
    color:rgb(97, 4, 98);
    font-weight: bold;
}

.navbar-offset {
    margin-top: -5rem;
    padding-top: 5rem;
}

section {
    margin-top: 1rem;
}

section h2 {
    margin-bottom: 2rem;
}

#feature~.row {
    margin-bottom: 3rem;
}
.feature-text{
    font-size: 1.2rem;
    color: rgb(75, 78, 78);
    /* color :white; */
}

.card-title{

}
.card-block{
  /* background-color: rgba(253, 179, 51, 0.8); */
}
.rotate-20 {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    -webkit-transform: rotate(20deg);
    /* Safari */
    transform: rotate(20deg);
}

.rotate-340 {
    -ms-transform: rotate(340deg);
    /* IE 9 */
    -webkit-transform: rotate(340deg);
    /* Safari */
    transform: rotate(340deg);
}

.rotate-350 {
    -ms-transform: rotate(350deg);
    /* IE 9 */
    -webkit-transform: rotate(350deg);
    /* Safari */
    transform: rotate(350deg);
}

.seal {
    border: 3px solid #0275d8;
    border-radius: .3rem;
}

.login {
    margin:10rem auto;
}

footer {
    background-color: #f7f7f7;
    padding: 2rem;
    color: gray;
}

.container-fluid{
  background-color: rgba(253, 179, 51, 0.8);
  padding-bottom: 4rem;
}
.footer-contact_us{
    /* color:#cc00ff; */
    margin-bottom: 4rem;
}
.footer-about{
    /* color:#cc00ff; */
    margin-top:4rem;
}